@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:wght@500;700&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Main
        4.3 Footer
    5. Media Queries
////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////
                                1. Global Styles
/////////////////////////////////////////////////////////////////////////////////////*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --primary-color: rgba(0, 100, 178, 0.5); /* >>> Hoofdstuk 9.3 <<< */
    --secondary-color: #ececec;
    --default-radius: 3px;
}

/*/////////////////////////////////////////////////////////////////////////////////////
                                2. Typography
/////////////////////////////////////////////////////////////////////////////////////*/

h1,
h2,
h3,
h4,
h5 {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
}

p {
    font-family: Poppins, sans-serif;
}


/*/////////////////////////////////////////////////////////////////////////////////////
                                3. Layout
/////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////// 3.1 Reusables /////////////////*/

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: var(--default-radius);
    padding: 5px 10px;
    border: none;
}

/*///////////////// 3.2 Other /////////////////////*/

div {
    /* Display */
    display: inherit;
    flex-direction: inherit;

    /* Positioning */
    position: inherit;
    left: inherit;
    right: inherit;
    z-index: inherit;

    /* Box-model */
    max-width: inherit;
    height: inherit;
    margin: inherit;
    padding: inherit;
    background-color: inherit;

    /* Typography */
    font-family: inherit;
    font-size: inherit;

    /* Manipulation */
    transform: inherit;
    filter: inherit;
    opacity: inherit;

    /* Miscellaneous */
    border-radius: inherit;
    box-shadow: inherit;
}


/*/////////////////////////////////////////////////////////////////////////////////////
                                4. Areas
/////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////// 4.1 header ////////////////////*/

/*///////////////// 4.2 main //////////////////////*/

/*///////////////// 4.3 footer ////////////////////*/


/*/////////////////////////////////////////////////////////////////////////////////////
                                5. Media Queries
/////////////////////////////////////////////////////////////////////////////////////*/
