/*------------------- 1. type selector -------------------*/
p {
    color: blue;
}

/*------------------- 2. class selector ------------------*/
.default {
    color: red;
}

/*------------------- 3. id selector ---------------------*/
#priority {
    color: green;
}

/*------------------- 4. multiple class selector ---------*/
.center {
    text-align: center;
}

/*------------------- 5. descendant selector -------------*/
header p {
    color: orange;
}

/*------------------- 6. child selector ------------------*/
div > p {
    color: darkgreen;
}

/*------------------- 7. adjacent sibling selector -------------*/
button + button {
    background-color: gray;
    color: white;
    margin-left: 15px;
}

/*------------------- 8. general sibling selector -------------*/
button ~ p {
    color: orange;
}

/*------------------- 9. box model (css reset) -----------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.box-model {
    background-color: orange;
    width: 300px;
    border: 20px solid black;
    padding: 20px;
    margin: 20px;
}

/*------------------- 10. position relative -------------------*/
.box-1 {
    background-color: #de917a;
    border: 2px solid black;
    padding: 20px;
}

p.relative {
    position: relative;
    top: -40px;
    left: 40px;
}

/*------------------- 10. position absolute -------------------*/
/*div.relative {
    position: relative;
}*/

.box-2 {
    background-color: #71e5ff;
    border: 2px solid black;
    padding: 20px;
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}







